extends layout

block content
	h1 Registro
	p Debes llenar todos los datos para registrarte.
	ul.errors
		if errors
			each error, i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post', action='/users/register', enctype='multipart/form-data')
		.form-group
			label Nombre
			input.form-control(name='name', type='text', placeholder='Nombre Completo')
		.form-group
			label Email
			input.form-control(name='email', type='email', placeholder='Email')
		.form-group
			label Usuario
			input.form-control(name='username', type='text', placeholder='Usuario')
		.form-group
			label Contrase単a
			input.form-control(name='password', type='password', placeholder='Contrase単a')
		.form-group
			label Confirmar Contrase単a
			input.form-control(name='password2', type='password', placeholder='Confirmar Contrase単a')
		.form-group
			label Imagen de perfil
			input.form-control(name='profileimage', type='file')
		input.btn.btn-default(name='submit', type='submit', value='Registrarme')